/* App.css or index.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e9ecef;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #007bff;
}